
home .card{
  background-color: '#d4d4d4c1';
}


.admission{
  background:#fff;
  border-radius:4px;
  margin:20px auto;
  margin-top:100px;
  padding:20px;
  position:relative;
  box-shadow:2px 2px 5px rgba(0,0,0,0.5);
}

.ini{
  
  background:rgb(203, 203, 203);
  border-radius:4px;
  margin:20px auto;
  padding:20px;
  position:relative;
  box-shadow:2px 2px 5px rgba(0,0,0,0.5);
  
}

.train-details h4{
  margin:0 0 10px 0;
  font-size:0.9em;
  color:var(--primary);
}

.train-details p{
  margin:0;
  font-size:0.9em;
  color:#555;
}
